@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Data
@{
    var dtList = Model.Tables[0];

    var startPage = ViewBag.StartPage;
    var endPage = ViewBag.EndPage;
    var totalPage = ViewBag.TotalPage;
    var page = ViewBag.Page;


}

<head>
    <style>
        table{
            width : 100%
        }
        
        th{
            text-align:center
        }
        td{
            text-align:center
        }
        .out{
            width: 100%;
            text-align: center;
        }
        .in{
            display: inline-block;
            text-align: center;
        }
        
    </style>
</head>
<body>
    <div class ="container col-xxl-12 px-4 py-5">
        <h2>게시판</h2>

    </div>
    <div style="text-align:right;">
        <a class="btn btn-primary" href="@Url.Action("CreateBoard","Board")" style="margin-bottom:1px;"><i class="fas fa-edit"></i>글작성</a>
    </div>
    <table border="1" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow item in dtList.Rows) {
                <tr>
                    <td>@item["Id"]</td>
                    <td width="50%"><a href="@Url.Action("BoardDetail","Board", new {num=item["Id"]})">@item["Title"]</a></td>
                    <td>@item["ReadCount"]</td>
                    <td>@item["PostDate"]</td>
                </tr>
            }
        </tbody>
    </table>
    
    
    <div class="out" >
        <div class="in">
            <div class="pagination">
                @if (startPage > 1) {
                    <div class="page-item">
                        <a href="?page=1" class="page-link">처음 페이지</a>
                    </div>
                }
                @if (page > 1) {
                    <div class="page-item">
                        <a href="?page=@(page-1)" class="page-link">이전 페이지</a>
                    </div>
                }
                @for (int icount = startPage; icount <= endPage; icount++) {
                    <div class="page-item">
                        @if (icount == page) {
                            <a href="?page=@icount" class="page-link active" style="color:red;">@icount</a>
                        }
                        else {
                            <a href="?page=@icount" class="page-link">@icount</a>
                        }
                    </div>
                }
                @if (page < totalPage) {
                    <div class="page-item">
                        <a href="?page=@(page+1)" class="page-link">다음 페이지</a>
                    </div>
                }
                @if (endPage < totalPage) {
                    <div class="page-item">
                        <a href="?page=@totalPage" class="page-link">마지막 페이지</a>
                    </div>
                }
            </div>
        </div>
    </div>
   
</body>