@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Data;
@using Microsoft.AspNetCore.Http
@{
    var dtData = Model;

}

<head>

</head>
<body>
    <div class="mt-5 pt-5">
        <div class="container-fluid px-4">
            <h1> 게시판 수정하기</h1>
            <form class="row g-3" asp-controller="Board" asp-action="UpdateBoard" method="post">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">번호</label>
                            <input type="text" class="form-control" id="id" name="id" value="@dtData.Rows[0]["Id"]" readonly />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">작성자</label>
                            <input type="text" class="form-control" id="name" name="name" value="@dtData.Rows[0]["Name"]" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">제목</label>
                            <input type="text" class="form-control" id="title" name="title" value="@dtData.Rows[0]["Title"]" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">내용</label>
                            <textarea class="form-control editor" rows="20" id="Content" name="Content">@dtData.Rows[0]["Content"]</textarea>

                        </div>
                        <div class="mb-3 mt-3">
                            <button type="submit" class="btn btn-primary">수정</button>
                            <a class="btn btn-success" href="@Url.Action("BoardList","Board",new{page=1})">목록</a>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</body>