@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Data
@using Web_Project.Models

@{
    Layout = null;

    var dtTemp = Model.Tables[0];           //템플릿 데이터테이블
    var dtReal = Model.Tables[1];           //실제 데이터 테이블
    var dtDate = Model.Tables[2];           //날짜 데이터 테이블

    List<int> Chk1_F = new List<int> { 1, 10, 18, 25, 35, 39 };

    const int ItemSeqNum = 1;
    const int Input_1_Num = 7;
    const int Input_2_Num = 8;
    const int Input_3_Num = 9;
    const int ComfirmUser_Num = 10;
    
    

}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

    <style>
        .chk_label {
            width: 25px;
            height: 25px;
            background: #2155A5;
            border-radius: 2px 2px 2px 2px;
            margin: 0.2em;
            display: inline-block;
            text-align:center;
        }

        .chkNone_label {
            width: 18px;
            height: 18px;
            background: white;
            border-radius: 2px 2px 2px 2px;
            border: solid;
            border-color: #999;
            margin: 0.2em;
            display:inline-block;
        }
        .imgPadding
        {
            padding:1em;

        }
        .text-align-center
        {
            text-align:center;
        }
    </style>
    @*<script>
        window.history.forward(); 
        
        function noBack() {
            window.history.forward();
        }
    </script>*@
</head>
<body>

    @*onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">*@    @*뒤로가기 방지*@
    <div style="display:inline">
        <div >
           
        </div>
        <div>
            <form asp-controller="Shift" asp-action="Index" method="get" class="font" >
                <img src="~/Img/TRIAL.png" class="imgPadding" />
                <div style="float:right;padding-top:30px;">
                    <label>쉬프트 체크 날짜 : </label>
                    <input type="text" id="datepicker" name="date" value="@ViewBag.Date" autocomplete="off" style="font-size:18px; " />
                    <input type="submit" value="조회" style="font-size:15px;" />
                </div>
                
            </form>
        </div>
    
    </div>
    

    <script src="pikaday.js"></script>
    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'YYYY-MM-DD',
            minDate: new Date(2018, 0, 1),
            maxDate: new Date(2030, 12, 31),
            yearRange: [2018, 2030],
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${year}-${month}-${day}`;
            }
            //,
            //parse(dateString, format) {
            //    // dateString is the result of `toString` method
            //    const parts = dateString.split('/');
            //    const year = parseInt(parts[0], 10);
            //    const month = parseInt(parts[1], 10) - 1;
            //    const day = parseInt(parts[1], 10);

            //    return new Date(year, month, day);
            //}
        });
    </script>
    <table width="100%" >
        <thead class="member">
            <tr>
                <th colspan="3" rowspan="3">항목</th>
                <th width="9%" >월</th>
                <th width="9%">화</th>
                <th width="9%">수</th>
                <th width="9%">목</th>
                <th width="9%">금</th>
                <th width="9%">토</th>
                <th width="9%">일</th>
            </tr>
            @*Head에 날짜 표시해주기*@
            <tr>
                @foreach (DataRow item in dtDate.Rows) {
                    <th>@DateTime.ParseExact( @item["Date"].ToString(),"yyyyMMdd",null).ToShortDateString() </th>
                }  
            </tr>
            <tr>
                @{
                      DataRow[] ConfirmUser = dtReal.Select($"ItemSeq=1");
                }
                @foreach (DataRow item in ConfirmUser) {
                    <th>@item[ComfirmUser_Num]</th>
                }
            </tr>
            
        </thead>
        <tbody class="member">
            @foreach (DataRow TempDr in dtTemp.Rows) {
                if (TempDr["CheckTypeID"].ToString().Equals("4")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");
                        }
                        <td style="text-align:center">@TempDr["ItemSeq"]</td>
                        <td style="text-align:left">@TempDr["CheckBody"]</td>
                        @foreach (var DL in DataList) {
                            <td style="text-align:center">
                                @DL[Input_1_Num]'℃
                                /
                                @DL[Input_2_Num]%
                            </td>
                        }
                    </tr>
                }
                else if (TempDr["CheckTypeID"].ToString().Equals("3")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <td style="text-align:center">@TempDr["ItemSeq"]</td>
                        <td style="text-align:left">@TempDr["CheckBody"]</td>
                        @foreach (var DL in DataList) {
                            <td>
                                @(
                                    DL[Input_1_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" })
                                 )
                                @(
                                    DL[Input_2_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" })
                                 )
                                @(
                                    DL[Input_3_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" })
                                 )

                            </td>
                        }
                       
                    </tr>
                }
                else if (TempDr["CheckTypeID"].ToString().Equals("2")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <td style="text-align:center">@TempDr["ItemSeq"]</td>
                        <td style="text-align:left">@TempDr["CheckBody"]</td>
                        @foreach (var DL in DataList) {
                            <td >
                               
                                @(
                                    DL[Input_1_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" })
                                 )
                                @(
                                    DL[Input_2_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" })
                                 )
                            </td>
                        }
                    </tr>
                }
                else if (Chk1_F.Contains(Int32.Parse(TempDr[1].ToString()))) {
                    <tr >
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        @if (TempDr[ItemSeqNum].ToString().Equals("1")) {
                            <td rowspan="9" style="text-align:center">기본</td>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("10")) {
                            <td rowspan="8" style="text-align:center">1번랙</td>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("18")) {
                            <td rowspan="7" style="text-align:center">2번랙</td>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("25")) {
                            <td rowspan="10" style="text-align:center">통신랙</td>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("35")) {
                            <td rowspan="4" style="text-align:center">3번랙</td>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("39")) {
                            <td rowspan="6" style="text-align:center">메탈랙</td>
                        }
                        <td style="text-align:center">@TempDr["ItemSeq"]</td>
                        <td style ="text-align:left">@TempDr["CheckBody"]</td>
                        @foreach (var DL in DataList) {
                            <td>
                                @(
                                    DL[Input_1_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" }))
                            </td>
                        }
                       
                    </tr>
                }
                else {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <td style="text-align:center">@TempDr["ItemSeq"]</td>
                        <td style="text-align:left">@TempDr["CheckBody"]</td>
                        @foreach (var DL in DataList) {
                            <td class="text-align-center">
                                @(
                                    DL[Input_1_Num].Equals("True") ? Html.Label("", "", new { @class = "chk_label" }) : Html.Label("", "", new { @class = "chkNone_label" }))
                                @*@if (DL[Input_1_Num].Equals("True")) {
                                        <label class="chk_label"></label>
                                }
                                else {
                                        <label class="chkNone_label"></label>
                                }*@
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>