@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Data
@using Web_Project.Models
@{
    Layout = null;

    var dtTemp = Model.Tables[0];
    var dtReal = Model.Tables[1];
    var dtDate = Model.Tables[2];

    //var dtTemp = ViewBag.dtTemp as DataTable;                   //템플릿 데이터테이블
    //var dtReal = ViewBag.dtReal as DataTable;                   //실제 데이터 테이블
    //var dtDate = ViewBag.dtDate as DataTable;                   //날짜 데이터 테이블
    List<int> Chk1_F = new List<int> { 1, 10, 18, 25, 35, 39 };

    const int ItemSeqNum = 1;
    const int Input_1_Num = 7;
    const int Input_2_Num = 8;
    const int Input_3_Num = 9;
    const int ComfirmUser_Num = 10;
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <style>
        tr {
            text-align: center;
        }
        

        .TitleBody {
            text-align: left;
        }
    </style>
</head>
<body>
    <form asp-controller="Shift" asp-action="Index" method="get">
        <input type="text" id="datepicker" name="Date" autocomplete="off" readonly />
        <input type="submit" value="조회" />
    </form>

    <script src="pikaday.js"></script>
    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'YYYY-MM-DD',
            minDate: new Date(2000, 0, 1),
            maxDate: new Date(2030, 12, 31),
            yearRange: [2000, 2030],
            toString(date, format) {
                // you should do formatting based on the passed format,
                // but we will just return 'D/M/YYYY' for simplicity
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${year}-${month}-${day}`;
            }
            //,
            //parse(dateString, format) {
            //    // dateString is the result of `toString` method
            //    const parts = dateString.split('/');
            //    const year = parseInt(parts[0], 10);
            //    const month = parseInt(parts[1], 10) - 1;
            //    const day = parseInt(parts[1], 10);

            //    return new Date(year, month, day);
            //}
        });
    </script>
    <table border="1">
        <thead>
            <tr>
                <th colspan="3" rowspan="3">항목</th>
                <th width="9%">월</th>
                <th width="9%">화</th>
                <th width="9%">수</th>
                <th width="9%">목</th>
                <th width="9%">금</th>
                <th width="9%">토</th>
                <th width="9%">일</th>
            </tr>
            @*Head에 날짜 표시해주기*@
            <tr>
                @foreach (DataRow item in dtDate.Rows) {
                    <th>@DateTime.ParseExact( @item["Date"].ToString(),"yyyyMMdd",null).ToShortDateString() </th>
                }  
            </tr>
            <tr>
                @{
                      DataRow[] ConfirmUser = dtReal.Select($"ItemSeq=1");
                }
                @foreach (DataRow item in ConfirmUser) {
                    <th>@item[ComfirmUser_Num]</th>
                }
            </tr>
            
        </thead>
        <tbody>
            @foreach (DataRow TempDr in dtTemp.Rows) {
                if (TempDr["CheckTypeID"].ToString().Equals("4")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");
                        }
                        <th class="TitleBody">@TempDr["ItemSeq"]</th>
                        <th class="TitleBody">@TempDr["CheckBody"]</th>
                        @foreach (var DL in DataList) {
                            <th style="font-size:12px">
                                @DL[Input_1_Num]'℃
                                /
                                @DL[Input_2_Num]%
                            </th>
                        }
                    </tr>
                }
                else if (TempDr["CheckTypeID"].ToString().Equals("3")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <th class="TitleBody">@TempDr["ItemSeq"]</th>
                        <th class="TitleBody">@TempDr["CheckBody"]</th>
                        @foreach (var DL in DataList) {
                            <th>
                                @if (DL[Input_1_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }
                                @if (DL[Input_2_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }
                                @if (DL[Input_3_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }

                            </th>
                        }
                       
                    </tr>
                }
                else if (TempDr["CheckTypeID"].ToString().Equals("2")) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <th class="TitleBody">@TempDr["ItemSeq"]</th>
                        <th class="TitleBody">@TempDr["CheckBody"]</th>
                        @foreach (var DL in DataList) {
                            <th>
                                @if (DL[Input_1_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }
                                @if (DL[Input_2_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }
                            </th>
                        }
                       
                    </tr>
                }
                
                else if (Chk1_F.Contains(Int32.Parse(TempDr[1].ToString()))) {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        @if (TempDr[ItemSeqNum].ToString().Equals("1")) {
                            <th  rowspan="9">기본</th>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("10")) {
                            <th rowspan="8">1번랙</th>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("18")) {
                            <th rowspan="7">2번랙</th>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("25")) {
                            <th rowspan="10">통신랙</th>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("35")) {
                            <th rowspan="4">3번랙</th>
                        }
                        else if (TempDr[ItemSeqNum].ToString().Equals("39")) {
                            <th rowspan="6">메탈랙</th>
                        }
                        <th class="TitleBody">@TempDr["ItemSeq"]</th>
                        <th class="TitleBody">@TempDr["CheckBody"]</th>
                        @foreach (var DL in DataList) {
                            <th>
                                @if (DL[Input_1_Num].Equals("True")) {
                                    <input type="checkbox" name="checkbox" checked readonly onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" name="checkbox" readonly onclick="return false" />
                                }
                            </th>
                        }
                       
                    </tr>
                }
                else {
                    <tr>
                        @{
                            DataRow[] DataList = dtReal.Select($"ItemSeq={TempDr[ItemSeqNum].ToString()}");

                        }
                        <th class="TitleBody">@TempDr["ItemSeq"]</th>
                        <th class="TitleBody">@TempDr["CheckBody"]</th>
                        @foreach (var DL in DataList) {
                            <th>
                                @if (DL[Input_1_Num].Equals("True")) {
                                    <input type="checkbox" id="checkbox" name="checkbox" checked onclick="return false" />
                                }
                                else {
                                    <input type="checkbox" id="checkbox" name="checkbox" onclick="return false" />
                                }
                            </th>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    



</body>
</html>